.od-content {
    position: absolute;
    width: 65%;
    height: 65vh;
    margin-top: 2%;
    background-color: white;
    box-shadow: 0 5px 10px #65928a88;
    border-radius: 20px;
}
.od-content .row {
    justify-content: center;

  }
.od-content .od-option label {
    font-weight: 650;
    padding: 5%;
    margin-left: 3%;
    font-size: 18px;
    font-family: 'Work Sans';
 
  }
  .od-content button:not(.date-btn button) {
    margin-top: 3rem;
    height: fit-content;
    background: none;
    border: solid 1.5px #c4efea6a;
    border-radius: 5px;
    box-shadow: 0 3px 3px #4e6e6a57;
    font-weight: 500;

  }
  .od-content a {
    text-decoration: none;
    color: inherit;
    font-family: 'Work Sans';
  }
  .od-submit .od-payment button {
    width: 500px !important;
  }
  .cont-btn-od button:hover {
    background-color: #397F77 !important;
  }
  .back-btn-od button:hover {
    background-color: #397F77 !important;
  }
.od-submit .od-payment button:hover {
  background-color: #397F77 !important;
}
  
  