.ec-content {
  margin-top: 6%;
}

.ec-content .hh-submit {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}

.hh-payment {
  flex: 1;
  display: flex;
  justify-content: center;
}

button#payment {
  width: 100px;
}
.hh-payment button {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-size: 16px;
  color: #555;
  margin: 0 5px;
}

.hh-payment button:hover {
  background-color: #397f77;
  color: white;
}

.hh-payment button:active {
  background-color: #397f77;
  color: white;
}

.hh-payment button:focus {
  outline: none;
  border-color: #f7f7f7;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}
#button {
  width: 200px;
}