
.ec-title {
  font-size: 20px;
  font-family: 'Work Sans';
  font-weight: bold;
  color: #000000;
  padding-top: 7px;

}
.ec-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 22rem;
  margin-top: 7%;
}

.rectangle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FAFCF8;
  box-shadow: 0 3px 3px #4e6e6a57;
  border: solid 1.5px #c4efea6a;
  color: #ffffff;
  border-radius: 15px;
  width: 20rem;
  margin-top: -70px;
}
.ec-card-content button {
  background: none;
  border: solid 1.5px #c4efea6a;
  border-radius: 5px;
  box-shadow: 0 3px 3px #4e6e6a57;
  font-weight: 500;
  margin-top: 20px;
}
.ec-card-content a {
  text-decoration: none;
  font-family: 'Work Sans';
  color: #000000;
}
.ec-content .row {
  justify-content: center;
}
.button-row {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.button-row button {
  margin: 20px 20px 10px 20px ;
}
.button-row button:hover {
  background-color: #397F77;
}
.price {
  margin-left: 4rem;
  font-family: 'Work Sans';
}
.quantity {
  font-family: 'Work Sans';
}
span.quantity-btn {
  padding-right: 1.5rem;
}
.ec-price {
  font-family: 'Work Sans';
}
.ec-price:hover {
  background-color: #397F77;
}
.navigate-btn-ec {
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 100%;
  top: 83%;
  transform: translate(-50%, 0);
}
.cont-btn-ec button:hover {
  background-color: #397F77 !important;
}
.back-btn-ec button:hover {
  background-color: #397F77 !important;
}