button {
  margin: 0 20px;
  padding: 10px 40px;
}

.fc-content button {
  padding: 10px;
}

.fc-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 22rem;
  width: 17rem;
  
}
.fc-title {
  font-size: 20px;
  font-family: 'Work Sans';
  font-weight: bold;
  color: #000000;
  padding-top: 7px;

}
.fc-rectangle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FAFCF8;
  box-shadow: 0 3px 3px #4e6e6a57;
  border: solid 1.5px #c4efea6a;
  color: #ffffff;
  border-radius: 15px;
  width: 12rem;
  margin-top: -50px;

}
.button-row-fc {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.button-row-fc button {
  padding: 0 10px;
  margin: 20px 20px 10px 20px ;
  width: 50%;
  height: fit-content;
}
.button-row-fc button:hover {
  background-color: #397F77;
}
.fc-card-content button {
  background: none;
  border: solid 1.5px #c4efea6a;
  border-radius: 5px;
  box-shadow: 0 3px 3px #4e6e6a57;
  font-weight: 500;
  margin-top: 20px;
}
.fc-card-content a {
  text-decoration: none;
  color: black;
  font-family: 'Work Sans';
  font-size: 14px;
 }
.quantity-fc {
  height: 50px;
  font-family: 'Work Sans';
}
.fc-price {
  font-family: 'Work Sans';
}
.fc-price:hover {
  background-color: #397F77;
}
.navigate-btn-fc {
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 100%;
  top: 83%;
  transform: translate(-60%, 0);
}
.cont-btn-fc button:hover {
  background-color: #397F77 !important;
}
.back-btn-fc button:hover {
  background-color: #397F77 !important;
}