button {
  margin: 0 20px;
  padding: 10px 40px;
  border-radius: 15px;
  background-color: #749eb1;
  border: none;
}
.fc-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 22rem;
  
}
.fc-title {
  font-size: 20px;
  font-family: 'Work Sans';
  font-weight: bold;
  color: #000000;
  padding-top: 7px;

}
.fc-rectangle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FAFCF8;
  box-shadow: 0 3px 3px #4e6e6a57;
  border: solid 1.5px #c4efea6a;
  color: #ffffff;
  border-radius: 15px;
  width: 15rem;

}
.button-row {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  
}
.button-row button {
  margin: 20px 20px 10px 20px ;
}
.button-row button:hover {
  background-color: #397F77;
}
.fc-card-content button {
  background: none;
  border: solid 1.5px #c4efea6a;
  border-radius: 5px;
  box-shadow: 0 3px 3px #4e6e6a57;
  font-weight: 500;
  margin-top: 20px;
}
.button-row button a {
  text-decoration: none;
  color: black;
 }