.fabric-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
.fabric-container .fabric-nav{
    width: 100vw;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
}
.fabric-container .fabric-nav .fabric-title {
    font-size: 20px;
    padding: 0;
    margin: 0;
    color: black;
}
.fabric-container .input{
    width: 60vw;
    padding: 0 30px 30px 30px;
    margin: 0;
}
.fabric-container .input input {
    border: none;
    background-color: #D9D9D9;
    border-radius: 10px;
    font-size: 18px;
    padding: 10px;
    color: black;
  }  
  .fabric-container .input label {
    font-size: 20px;
    font-weight: bold;
  }