.hh-content {
  position: absolute;
  width: 75%;
  margin-top: 1%;
  display: flex;
  justify-content: space-around;
}

.user-navbar {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(180deg, #f8f5f5, #fff);
  z-index: -1;
}

.hh-services {
  background-color: #fff;
  padding: 2%;
  border-radius: 5px;
}

.hh-services h5,
.hh-total h5 {
  font-size: 20px;
  font-weight: 600 !important;
}

.hh-services .services {
  display: flex;
  justify-content: space-around;
  margin-right: 0;
  margin-left: 0;
}

.hh-services .MuiAutocomplete-root {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.hh-services .MuiAutocomplete-root .MuiInputBase-root {
  padding-top: 5px;
  padding-bottom: 4px;
}

.hh-services input {
  background: none;
  border: none;
  font-size: 17px;
  letter-spacing: 1px;
  padding-top: 0;
  padding-bottom: 0;
  text-align: left;
}

.hh-services .date-time {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 5%;
  margin-right: 0;
  margin-left: 0;
}

.hh-services .date-time p {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  padding-left: 2%;
  margin-bottom: 0;
}

.MuiPaper-root .MuiList-root::-webkit-scrollbar {
  display: none;
}

.hh-content .location {
  margin: 0;
}

.hh-content .location p,
.hh-content .payment p {
  font-size: 18px !important;
  margin: 0;
  padding: 0;
  color: black;
}

.hh-content .payment {
  padding-right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hh-content .payment .hh-submit {
  width: 100%;
  margin: 0;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.payment .hh-submit,
.hh-payment {
  width: 100%;
  padding: 0;
}

.hh-content .payment .hh-submit button {
  margin: 0;
  width: 100%;
  border-radius: 5px;
  border: solid 2px #dfdfdf;
  background: none;
}

#finish button {
  text-align: center;
  background-color: #397f77;
  color: white;
  border: none;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  font-weight: 600;
  letter-spacing: 1px;
}

.hh-submit button:hover {
  background-color: #397f77;
  color: white;
}
#finish button a {
  text-decoration: none;
  color: #fff;
}
