.hh-content {
  position: absolute;
  width: 65%;
  height: 65vh;
  margin-top: 2%;
  background-color: white;
  box-shadow: 0 5px 10px #65928a88;
  border-radius: 20px;
}
.user-navbar {
  width: 100vw;
  height: 53vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #397f77;
  z-index: -1;
}

.hh-content .row {
  justify-content: center;
}

.hh-content .hh-options {
  position: relative;
  height: fit-content;
  padding: 0;
  width: 30%;
}

.hh-arrow {
  position: absolute;
  top: 50%;
  right: 15%;
  transform: translate(-100%, 100%);
  width: 13px;
  height: 13px;
  border-left: solid 3px #397f77;
  border-bottom: solid 3px #397f77;
  border-bottom-left-radius: 3px;
  rotate: -45deg;
}

.hh-content button:not(.date-btn button) {
  width: 250px;
  height: fit-content;
  background: none;
  border: solid 1.5px #c4efea6a;
  border-radius: 5px;
  box-shadow: 0 3px 3px #4e6e6a57;
  font-weight: 500;
}

.hh-content a {
  text-decoration: none;
  color: inherit;
  letter-spacing: 1px;
  font-weight: inherit;
  width: 100%;
  height: 100%;
}

.hh-content button:not(.date-btn button):hover,
.hh-content button:not(.date-btn button):active {
  background-color: #397f77;
  color: white;
  font-weight: 600;
}

.hh-content .hh-options label {
  font-weight: 650;
  padding: 5%;
  margin-left: 3%;
  font-size: 18px;
}

.hh-content .hh-function {
  width: 90%;
  height: fit-content;
  justify-content: left;
  align-items: center;
  padding: 0 2%;
  margin: 0;
}

.switch {
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 74px;
  height: 37px;
  margin-right: 5vw;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: solid 2px #397f77;
}

.slider:before {
  position: absolute;
  top: 50%;
  left: 3%;
  transform: translate(0, -50%);
  content: "";
  height: 30px;
  width: 30px;
  background-color: #397f77;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #397f77;
}

input:focus + .slider {
  box-shadow: 0 0 1px #397f77;
}

input:checked + .slider:before {
  left: 55%;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%, 0);
  background-color: #ffffff;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch h5 {
  position: absolute;
  width: 150px;
  padding: 0 0 15% 3%;
  top: 0;
  left: 0;
  transform: translate(0, -100%);
  font-size: 18px;
  font-weight: 700;
}

.hh-function .f-content {
  justify-content: left;
  align-items: center;
}

.hh-function .f-price {
  display: flex;
  justify-content: space-between;
  /* text-align: center; */
  width: 20%;
  height: 35px;
  margin-left: 5vw;
  border-bottom: solid 3px #397f77;
  font-size: 18px;
  font-weight: 600;
}

.hh-content .hh-submit {
  margin-top: 5vh;
}

.hh-content .hh-submit .hh-options {
  width: fit-content;
}

.cont-btn button {
  background-color: #397f77 !important;
  color: white;
}

.manual-service button {
  position: relative;
  padding: 5px 20px;
  width: 230px;
  color: black;
}

.manual-service span {
  font-size: 17px;
}

.manual-service button:hover .hh-arrow,
.manual-service button:active .hh-arrow {
  transform: rotate(180deg);
  border-color: white;
  top: 37%;
  right: 5%;
}

.manual-service .hh-arrow {
  top: 50%;
  right: 2%;
  transform: translate(0, -100%);
}

.hh-submit .hh-payment button {
  width: 300px !important;
}

.date-btn .date-picker {
  width: 100%;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 18px;
  letter-spacing: 3px;
}

.date-btn .date-picker:active {
  border: none;
}

.manual-service button .manual-dropdown {
  visibility: hidden;
  display: none;
}

.manual-service button .manual-dropdown .manual-item {
  padding: 2% 0;
}

.manual-service button:hover .manual-dropdown,
.manual-service button:active .manual-dropdown {
  display: unset;
  visibility: visible;
  position: absolute;
  background-color: rgb(255, 255, 255);
  color: black;
  width: 100%;
  top: 105%;
  left: 0;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
}

.navigate-btn {
  position: absolute;
  width: 100%;
  top: 105%;
  left: 50%;
  transform: translate(-48.5%, 0);
}
.selectTime {
  background-color: white;
  box-shadow: rgba(78, 110, 106, 0.34) 0px 3px 3px;
  border-radius: 5px;
  width: 250px;
  padding: 11px 0 !important;
}
