.service-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.service-container .service-nav {
  width: 100vw;
  background-color: #dadada;
  display: flex;
  justify-content: center;
}

.service-container .service-nav .service-title {
  font-size: 20px;
  padding: 0;
  margin: 0;
  color: black;
}

.service-container .input-area {
  width: 60vw;
  padding: 0 30px 30px 30px;
  margin: 0;
}

.service-container .input-area input {
  border: none;
  background-color: #dadada;
  border-radius: 7px;
  font-size: 18px;
  padding: 5px 10px;
  color: #acacac;
}

.service-container .input-area .service-location {
  width: 100%;
  margin: 0;
  text-align: left;
}

.service-container .input-area label {
  font-size: 22px;
  font-weight: 500;
}

.service-container .input-area button {
  border: none;
  background-color: #dadada;
  border-radius: 7px;
  font-size: 18px;
  padding: 5px 20px;
  color: #000000;
  text-align: left;
  align-items: center;
  font-size: 14px;
}

.service-container .input-area button p {
  margin: 0;
}

.service-container .input-area button h3 {
  font-size: 18px;
  margin: 0;
}

.service-container .cont-btn {
  background-color: #749eb1 !important;
  color: white !important;
  font-size: 20px !important;
  padding: 10px 40px !important;
  font-weight: 500;
}

.service-container .cont-area {
  margin-top: 20px !important;
}

@media (max-width: 768px) {
  .service-container .input-area {
    width: 100vw;
    padding: 0;
  }
}
