.hh-total {
background-color: #fff;
padding: 2%;
padding-bottom: 0;
border-radius: 10px;
height: fit-content;
}

.hh-total p {
padding: 10px 0;
margin: 0;
font-weight: 600;
color: #909090;
display: flex;
justify-content: space-between;
}

.hh-total span {
font-weight: 600;
color: black !important;
}

.hh-content .total-cost p {
display: flex;
justify-content: space-between;
}

.hh-content .total-sumup {
padding: 5% 0;
display: flex;
justify-content: space-between;
align-items: center;
}

.total-sumup h5 {
display: flex;
flex-direction: column;
width: 45%;
align-items: flex-start;
justify-content: center;
padding: 0;
margin: 0;
}

.total-sumup h5 span {
font-weight: 700 !important;
letter-spacing: 2px;
font-size: 18px;
text-transform: uppercase;
}

.total-sumup h4 {
display: flex;
flex-direction: column;
}

.total-sumup h4,
.total-sumup span {
font-weight: 700;
color: #397f77;
font-size: 35px;
text-align: right !important;
}