.card {
  border: none;
  border-radius: 20px;
  background-color: #597afd;
}
@media (min-width: 768px) {
  /* .card {
    width: 550px;
  } */
  .info {
    width: 100%;
  }
}
h6 {
  color: #e5f3ff;
}
.text {
  color: #b2c9ff;
}
.media {
  display: flex;
  justify-content: center;
  align-items: center;
}
.media-body {
  flex-grow: 1;
}
.media img {
  width: 100px;
}
