
.container-feedback img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 23% !important;
}

.fb-container .fb-content {
  background-color: #f2ffff;
  border-radius: 30px;
  padding: 7%;
  padding-top: 25%;
  box-shadow: 0 3px 6px rgba(177, 195, 199, 0.2),
      3px 6px 9px rgba(177, 195, 199, 0.2),
      6px 9px 12px rgba(177, 195, 199, 0.2),
      9px 12px 15px rgba(177, 195, 199, 0.2);
  height: 50vh;
}

.fb-container .fb-content h3 {
  font-size: 20px;
}

.fb-container .fb-content p {
  font-size: 16px;
}