/* Feedback.css */
  
  .feedback-container {
    margin: 0 auto;
    max-width: 60rem;
  }
  
  .feedback-container p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 18px;
    padding-top: 2rem;
    line-height: 1.5;
    text-align: justify;
    justify-content: center; 
    display: block;
  }
  
  .row-justify.text-center {
    justify-content: center;
  }
  .feedback-text.text-center {
    text-align: center;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
  }
  
  .feedback-text-center br {
    display: block;
    content: "";
    margin: 5px 0;
  }
  .user img {
    width: 70px;
    margin-top: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    justify-content: space-between;
    /* display: block; */
    text-align: center;
  }