/* Feedback.css */
  
  .feedback-container {
    margin: 0 auto;
    max-width: 60rem;
  }
  
  .feedback-container p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 33px;
    text-align: justify;
    justify-content: center; 
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .row-justify.text-center {
    justify-content: center;
  }
  .feedback-text.text-center {
    text-align: center;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
  }
  
  .feedback-text-center br {
    display: block;
    content: "";
    margin: 5px 0;
  }
  .user img {
    width: 70px;
    margin-top: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    justify-content: space-between;
    /* display: block; */
    text-align: center;
  }
  @media (max-width: 768px) {
    .feedback-container p {
      font-size: 2vh !important;
      padding-inline: 4vh !important;
    }
    .user img {
      width: 1.1cm !important;
    }
    .user {
      padding-inline: 2rem !important;
    }
  }
  @media (max-width: 992px) {
    .feedback-container p {
      font-size: 2vh !important;
      padding-inline: 4vw !important;
    }
  }