  .footer {
    background-color: #D9D9D9;
    padding-top: 10px;
    width: 100%;
    display: flex; 
  }
  .footer p {
    font-family: 'Roboto', sans-serif;
    margin-top: 0.5rem; 
    font-size: 16px;
    font-style: normal;
    margin-bottom: 0px;
  }
  .footer .text-muted {
    margin-top: 0.5rem;
    color: #999;
    margin-bottom: 0.2rem;
  }
  .mb-2{
    padding-top: 0px;
    margin-bottom: 0.5rem;
    font-size: 18px;
  }
  body {
    overflow-x: hidden;
  }
  .footer .container {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .footer .row.justify-content-around {
    justify-content: space-around;
  }
  
  