@font-face {
    font-family: Roboto;
    src: url(../../public/assets/fonts/Roboto.ttf);
}

@font-face {
    font-family: SourceSerifPro;
    src: url(../../public/assets/fonts/SourceSerifPro.ttf);
}

:root {
    font-family: Roboto;
}

.head-line {
    display: flex !important;
    justify-content: space-between;
    align-items: center !important;
    background-color: #749EB1;
    color: white !important;
    font-size: 16px;
    padding: 3px 10px;
    transition-delay: 0.5s;
}

.head-line img {
    height: auto;
    width: 30px;
}

.head-line span {
    padding: 0 1rem;
    text-align: center;
}

.mail {
    margin-left: 10vw;
    display: inline;
}

@media screen and (min-width: 1400px) {
    .head-line {
        padding: 0.3vw 2vw !important;
        font-size: 1.1vw !important;
    }

    .head-line img {
        height: auto;
        width: 2vw;
    }
    
    .head-line span {
        padding: 0 1.5rem;
    }
    
    .mail {
        margin-left: 50vw !important;
    }
}

@media screen and (max-width: 640px) {
    .head-line {
        font-size: 16px !important;
        padding: 3px 10px !important;
    }

    .head-line img {
        width: 20px !important ;
    }

    .mail {
        margin-left: 0 !important;
        min-width: 225px !important;
    }

    .service {
        min-width: 152px !important;
    }

    .phone {
        min-width: 160px !important;
    }
}

.container-fluid {
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
    font-size: 15px !important;
}

.logo img {
    width: 130px;
    height: auto;
    margin-left: 2vw;
}

.login img {
    width: 60px;
    height: 60px;
    padding: 1px;
}

.container-fluid .show-btn {
    width: 0;
    height: 0;
}

.heading-bar {
    width: 68%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 9vw !important;
}

.heading-bar div {
    width: 100%;
}

.heading-bar div ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.heading-bar div ul li {
    font-size: 23px !important;
    text-align: center;
    font-weight: 400;
    text-align: center;
    padding: 0 10px;
}

.heading-bar div ul li a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.arrow {
    margin-top: 12px;
    margin-left: 5px;
    width: 11px !important;
    height: 11px !important;
    border-right: solid 3px rgb(126, 126, 126) !important;
    border-bottom: solid 3px rgb(126, 126, 126) !important;
    border-bottom-right-radius: 2px;
    rotate: 45deg !important;
}

.nav-btn {
    padding: 5px;
    cursor: pointer;
    width: 50px;
    visibility: hidden;
    opacity: 0;
}

@media screen and (max-width: 1400px) {
    .heading-bar {
        width: var(100vw - 550px);
        padding-left: 1.5vw !important;
    }

    .heading-bar div ul li {
        font-size: 20px;
        min-width: 150px;
        padding: 0;
    }

    .arrow {
        margin-top: 8px !important;
    }

    .service-list {
        left: 55%;
    }
}

@media screen and (max-width: 1100px) {image.png

    .container-fluid {
        padding: 0 !important;
        margin: 0 !important;
    }

    .logo img {
        position: absolute !important;
        top: 6%;
        left: 3%;
        width: 90px !important;
        height: auto;
        z-index: 1;
    }

    .login {
        position: absolute;
        top: 6.5%;
        left: 50%;
        transform: translate(-100%, -15%);
        padding: 0;
        margin: 0;
    }

    .login .user {
        padding: 15px;
    }

    .nav-btn {
        opacity: 1;
        border: none;
        border-radius: 10px;
        background: none;
    }

    .nav-btn img {
        width: 65px;
    }


    .container-fluid .show-btn {
        visibility: visible;
        width: fit-content;
        height: auto;
        position: absolute;
        top: 7%;
        right: 5%;
        box-sizing: border-box;
        z-index: -1;
    } 

    .container-fluid .navbar-nav {
        display: block;
        justify-content: right;
    }

    .heading-bar {
        opacity: 0;
        background-color: #e7f6ff;
        padding-top: 90px !important;
        margin-left: 80%;
        width: 20%;
        height: 100px;
    }

    .heading-bar .nav-btn {
        visibility: visible;
    }

    .navbar-nav ul li {
        display: flex !important;
        justify-content: right !important;
        text-align: right !important;
        padding-right: 5.5% !important;
    }

    .heading-bar:hover , .heading-bar:active {
        opacity: 1;
        height: auto !important;
        width: 100%;
        margin: 0 !important;
    }
}

.service-dropdown {
    visibility: hidden !important;
    width: 200px !important;
    height: auto;
    position: absolute;
    top: 95%;
    right: 0;
    background-color: #ffffff;
    border-top: solid 2px #cbe7f4;
    border-radius: 10px;
    box-shadow: 0 1px 2px #00000051;
}

.service-dropdown ul {
    width: 100%;
    display: block !important;
    list-style-type: none !important;
    gap: 2px;
    padding: 0 !important;
}

.service-dropdown ul li {
    text-decoration: none !important;
    text-align: right !important;
    border-radius: 5px;
    padding: 5px !important;
    padding-right: 20px !important; 
}

.service-dropdown ul li:hover {
    background-image: linear-gradient(to right, rgb(255, 255, 255), #e7f7ff);
}

.service-options:active .service-dropdown, .service-options:hover .service-dropdown {
    visibility: visible !important;
}









