@font-face {
    font-family: Roboto;
    src: url(../../public/assets/fonts/Roboto.ttf);
}

@font-face {
    font-family: SourceSerifPro;
    src: url(../../public/assets/fonts/SourceSerifPro.ttf);
}

:root {
    font-family: Roboto;
}

.head-line {
    width: 100vw;
    display: flex !important;
    justify-content: space-around;
    align-items: center !important;
    background-color: #749EB1;
    color: white !important;
    font-size: 16px;
    padding: 3px 10px;
}

.head-line img {
    height: auto;
    width: 30px;
}

.head-line span {
    padding: 0 1rem;
    text-align: center;
}

.mail {
    /* margin-left: 50vw; */
    display: inline;
}

@media screen and (max-width: 768px) {
    .head-line {
        font-size: 3.1vw !important;
        padding: 3px 1vw !important;
    }

    .head-line span {
        padding: 0 0.5vw;
    }

    .head-line img {
        width: 5vw !important ;
    }

    .mail {
        margin-left: 10vw !important;
    }
}

@media screen and (max-width: 992px) {
    .head-line {
        font-size: 2.1vw !important;
        padding: 3px 1vw !important;
    }

    .head-line span {
        padding: 0 0.5vw;
    }

    .head-line img {
        width: 4vw !important ;
    }

    .mail {
        margin-left: 10vw !important;
    }
}

@media screen and (max-width: 1200px) {
    .head-line {
        font-size: 1.7vw !important;
        padding: 3px 1vw !important;
    }

    .head-line span {
        padding: 0 0.5vw;
    }

    .head-line img {
        width: 3vw !important ;
    }

    .mail {
        margin-left: 4vw !important;
    }
}

.custom-navbar {
    background: #ffffff !important;
    padding-top: 20px;
}

.custom-navbar .navbar-brand img {
    width: 8vw;
    height: auto;
}

.custom-navbar .navbar-toggler {
    border-color: transparent;
}

.custom-navbar .navbar-toggler:active, .custom-navbar .navbar-toggler:focus {
    box-shadow: none;
    outline: none;
}

@media (min-width: 992px) {
    .custom-navbar .custom-navbar-nav li {
        margin-left: 30px;
        margin-right: 30px;
        
    }
}

.custom-navbar .custom-navbar-nav {
    width: 100%;
    justify-content: center;
}

.custom-navbar .custom-navbar-nav li a {
    font-weight: 500;
    color: #000000 !important;
    opacity: 0.6;
    transition: 0.3s all ease;
    position: relative;
}

@media (min-width: 768px) {
    .custom-navbar .custom-navbar-nav li a:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 8px;
        right: 8px;
        background: #74b1ad;
        height: 3px;
        opacity: 1;
        visibility: visible;
        width: 0;
        transition: 0.15s all ease-out;
    }
}

.custom-navbar .custom-navbar-nav li a:hover {
    opacity: 1;
}

.custom-navbar .custom-navbar-nav li a:hover:before {
    width: calc(100% - 16px);
}

.custom-navbar .custom-navbar-nav li.active a {
    opacity: 1;
}

.custom-navbar .custom-navbar-nav li.active a:before {
    width: calc(100% - 16px);
}

.custom-navbar .custom-navbar-cta {
    margin-left: 0 !important;
    flex-direction: row;
    justify-content: center;
}

.custom-navbar .custom-navbar-cta img {
    width: 35px;
}

@media (min-width: 768px) {
    .custom-navbar .custom-navbar-cta img {
        width: 3vw !important;
    }
}

.custom-navbar .custom-navbar-cta li {
    margin-left: 0px;
    margin-right: 0px;
}

.custom-navbar .custom-navbar-cta li:first-child {
    margin-right: 20px;
} 

.custom-navbar .custom-navbar-nav li a {
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    background: none;
    border: none;
}

.custom-navbar .custom-navbar-nav li .arrow {
    margin: 6px;
    transform: translate(0, -30%);
    width: 11px;
    height: 11px;
    border-right: solid 3px rgb(59, 59, 59) ;
    border-bottom: solid 3px rgb(59, 59, 59);
    border-bottom-right-radius: 2px;
    rotate: 45deg;
}

.custom-navbar .custom-navbar-nav li .dropdown-btn:active {
    background: none;
}

.custom-navbar .custom-navbar-nav .opt-services {
    position: relative;
}

.custom-navbar .custom-navbar-nav .dropdown-menu {
    transform: translate(-12.5%, 0);
}

.custom-navbar .custom-navbar-nav .dropdown-menu li {
    width: fit-content;
    margin-top: 5px;
    margin-bottom: 5px;
}

