.dot {
  height: 10rem;
  width: 10rem;
  background-color: #FFB99D;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: -100px;
}

.dot img {
  max-width: 65%;
  height: auto;
}

.dot-content {
  text-align: center;
}

.container-fluid {
  display: contents;
  justify-content: center;
}
.card {
  margin-top: 7rem;
  text-align: center;
  position: relative;
  border-radius: 100%;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid; 
  border-radius: -100px;
  padding: 0px;
  
}
.card-body {
  background-color: #90B6C7;
  padding: 0px;
  border-radius: 5px;
}

.card-title {
  font-family: 'Roboto', sans-serif;
  padding-top: 1rem;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.05rem;
}
.card p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 18px;
  text-align: justify;
  justify-content: center; 
  margin-top: 0.5rem;
  padding-inline: 2rem;
  line-height: 33px;

}

.container-fluid .col .row .card {
  border-radius: 50px !important;
}
@media (max-width: 768px) {
.card-title {
 font-size: 3vh !important;
}
.card p {
  font-size: 2vh !important;
  padding-inline: 1rem !important;

}
.dot {
  height: 8rem;
  width: 8rem;
}
}
@media (max-width: 992px) {
  .card-title {
    font-size: 2vh !important;
  }
  .card p {
    font-size: 2vh !important;
    padding-inline: 1rem !important;
  }
  .dot {
    height: 8rem !important;
    width: 8rem !important;
  }

}