input[type="password"],
input[type="text"],
input[type="submit"] {
  color: #0d0d0d;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}
