.bg {
    background-color: white;
    color: black;
    padding: 2%;
    height: 80vh;
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-40%, 0);
    border-radius: 5px;
}