/* HOME PAGE  */

.table-cus {
  padding-left: 17vw;
  padding-top: 3vw;
  width: 1450px;
}
.table-ser{
  padding-left: 17vw;
  padding-top: 3vw;
  width: 1450px;
}
.table-ord{
  padding-left: 17vw;
  padding-top: 3vw;
  width: 1450px;
}
.my-custom-scrollbar {
  position: relative;
  height: 550px;
  overflow: auto;
  }
  .table-wrapper-scroll-y {
  display: block;
  }
.table-emp{
  padding-left: 20vw;
  padding-top: 3vw;
  width: 1450px;
}
.item-icon {
  margin: 0;
}
.item-icon img{
  width: 30px;
}
.item-icon img:hover {
  opacity: 40%;
}
.find-employ{
  padding-right: 700px;
}
.find-employ-item{
  width: 900px;
}