.nav-container {
  top: 0;
  left: 0;
  min-width: 170px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: self-end;
  font-family: "Montserrat", sans-serif;
}

.nav-container .nav-content {
  width: 120%;
  height: 100vh;
  justify-content: flex-start;
  align-items: left;
  padding-top: 10%;
  /* background-color: #fffafa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25); */
  overflow: hidden;
}

.nav-container .nav-content li {
  width: 100%;
  justify-content: left;
  padding-left: 15%;
}

.nav-container .nav-content li:hover:not(.user-hb-name):not(.user-hb-avt):not(.admin-container .nav-content li) {
  background-color: #9dcec8;
}

.nav-container .nav-content .nav-item {
  margin: 2% 0;
  font-weight: 550;
  font-size: 1.2rem;
  display: flex;
}

.nav-container .nav-content .nav-item .nav-avt {
  margin: 0 auto;
  width: 7vw;
  min-width: 70px;
}

.nav-container .nav-content .nav-item .nav-icon {
  width: 22px;
}

.nav-container .nav-content .nav-item a {
  text-decoration: none;
  color: #015450;
  font-family: "Montserrat";
}

.nav-container .nav-content .nav-item span {
  position: relative;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 1rem;
  padding-bottom: 15%;

}

.nav-container .nav-content .nav-item .seperator {
  position: absolute;
  width: 60%;
  height: 1px;
  background-color: black;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -100%);
  border-radius: 20px;
}

.nav-container .nav-content .user-hb-name {
  padding: 0;
  display: flex;
  justify-content: center;
}

.nav-container .nav-content .user-hb-name span {
  width: 100%;
  text-align: center;
  padding-bottom: 8%;
  font-family: "Montserrat";
  font-weight: normal;
}
@media (max-width: 768px)  {
 .nav-item img{
    width: 12vw !important;
  }
}
.user-hb-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
  background-color: "#fff0" !important;
}
.css-1ncwxn3-MuiButtonBase-root-MuiListItemButton-root:active{
  color: #397F77 !important;
}