.admin-container .nav-content {
    padding: 5% 2%;
    margin-left: 2%;
}

.admin-container .nav-content li{
    padding-left: 10px;
    padding-top: 5%;
    padding-bottom: 0;
    font-size: 18px;
    color: #397f77;
}

.admin-container .nav-content li:hover {
    background-color: inherit;
}

.admin-container .nav-content li a {
    color: inherit;
    padding: 0;
}

.admin-container .nav-content .ad-name {
    font-size: 25px !important;
    padding: 0 !important;
}

.admin-container .nav-content li .sub-menu  {
    list-style-type: none;
    padding-left: 2%;
    border-left: solid 2px rgb(120, 120, 120);
    transform: translate(5%, 0);
    color: rgb(120, 120, 120) !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 2% 0;   
    padding-bottom: 0;
    margin-bottom: 0;
}

.admin-container .nav-content li .sub-menu li {
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 2% 3% !important;
}

.admin-container .nav-content li .sub-menu li a {
    color: rgb(120, 120, 120);
}

.sub-menu {
    overflow: hidden;
    animation: fade-in 0.5s ease forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
        max-height: 0;
    }
    to {
        opacity: 1;
        max-height: 200px;
    }
}
