@font-face {
    font-family: Roboto;
    src: url('../../../public/assets/fonts/Roboto.ttf');
}

.sb-container {
    font-size: 20px;
}

.sb-container .sidebar-nav {
    width: 170px;
    height: 100vh;
    background-color: #749EB1;
    text-decoration: none;
}

.sb-container .sidebar-nav li .sidebar-item{
    text-decoration: none;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
}

.sb-container .sidebar-nav li .sidebar-item:active {
    color: black;
}

@media screen and (max-width: 768px) {

    .sb-container {
        font-size: 16px;
    }

    .sb-container .sidebar-nav li,
    .sb-container .sidebar-nav li .sidebar-item {
        width: fit-content;
        padding: 0 !important;
    }

    .sb-container .sidebar-nav {
        width: 100vw;
        display: flex;
        justify-content: space-around;
        flex-direction: row !important;
        height: fit-content;
        padding: 3% 0 !important;
    }
}

.sb-container .db-container {
    width: 100vw;
    height: 40px;
    background-color: white;
    box-shadow: 0 2px 3px #6a6a6a80;
    display: flex !important;
    align-items: center !important;
}

.sb-container .db-container .dashboard-item {
    padding-left: 3% !important;
    text-decoration: none;
    color: black;
    font-weight: 350;
    letter-spacing: 1px;
}